@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat&family=Open+Sans&family=Roboto&family=Sacramento&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    scroll-behavior: smooth;
}

:root,
:root::before,
:root::after {
    --bgcolor: #fff;
    --tcolor: #333;
    --box-height: 300px;
    --transition-time: 0.3s;

    --red: #f44336;
    --pink: #e91e63;
    --purple: #9c27b0;
    --dark-purple: #673ab7;
    --indigo: #3f51b5;
    --blue: #2196f3;
    --light-blue: #03a9f4;
    --cyan: #00bcd4;
    --green: #4caf50;
    --light-green: #8bc34a;
    --yellow: #ffeb3b;
    --orange: #ff9800;
    --deep-orange: #ff5722;
    --brown: #795548;
    --grey: #9e9e9e;
    --blue-grey: #607d8b;

    --blue: #4285f4;
    --red: #ea4335;
    --yellow: #fbbc05;
    --green: #34a853;
}

body {
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('https://source.unsplash.com/500x500/?nature,water');
    background-size: cover;
    background-position: center;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--tcolor);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.time-container {
    height: var(--box-height);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 18px;
    padding: 36px 96px;
}

.time {
    font-size: 120px;
    line-height: 125%;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    margin-bottom: 1rem;
}

.date {
    font-size: 24px;
    line-height: 125%;
}

.todos {
    &-container {
        width: 30vw;
        height: var(--box-height);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column;
        background-color: #fff;
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
    }

    &-head {
        width: 100%;
        height: 48px;
        background-color: var(--indigo);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 8px 0 12px;

        span {
            font-size: 20px;
            line-height: 150%;
            color: #fff;
        }

        button {
            all: unset;
            box-sizing: border-box;
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            user-select: none;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

.full-screen-btn {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    cursor: pointer;
    user-select: none;

    span {
        font-size: 20px;
        line-height: 150%;
    }
}

.screen-saver {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
    transition: all 0.3s ease-in-out;

    &-invisible {
        opacity: 0;
        visibility: hidden;
    }

    &-visible {
        opacity: 1;
        visibility: visible;
    }

    &-time {
        width: 100vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 150px;
        line-height: 125%;
        font-weight: 100;
        user-select: none;
        font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
}

.dispn {
    display: none !important;
}